---
import Layout from '~layouts/Layout.astro';
import SectionHero from '~components/SectionHero.astro';
---

<Layout
  title="Special Thanks | Katie Crafts"
  description="Credits to the people and resources that help keep Katie Crafts running."
  canonical="/thanks/"
>
  <SectionHero
    title="Special Thanks"
    subtitle="Gratitude for the people and resources behind Katie Crafts."
    size="narrow"
  />

  <article class="post">
    <div class="post__content">
      <p>Thanks to these people and websites for the icons, designs, and apps that I use to beautify my site!</p>
      <ul>
        <li>
          <a href="https://github.com/seriouslysean" target="_blank" rel="noopener noreferrer">Sean Kennedy</a>
          <span aria-hidden="true"> ♥</span>
        </li>
        <li>
          <a href="https://web.archive.org/web/20140625113941/http://www.erikaletitia.com/" target="_blank" rel="noopener noreferrer">Erika Letitia Photography</a>
        </li>
        <li>
          <a href="https://web.archive.org/web/20140625113941/http://www.freepik.com/" target="_blank" rel="noopener noreferrer">Freepik</a>
        </li>
        <li>
          <a href="https://web.archive.org/web/20140625113941/http://abeautifulmess.com/" target="_blank" rel="noopener noreferrer">A Beautiful Mess</a>
        </li>
      </ul>
    </div>
  </article>
</Layout>
