<header class="header">
    <div class="header__logo">
        <a href="/" title="Go to Katie Crafts' homepage">
            <img
                src="/katie-crafts-logo.svg"
                alt="Katie Crafts logo"
                height="247"
                width="600"
                loading="eager"
                fetchpriority="high"
                decoding="async"
            >
        </a>
    </div>
</header>
